NetSqlAzMan-ServiceExtensions/AzManAuthorizationServices/AzManAuthorizationWebServices/Service References/DirectSvcRef/DirectService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://logindemo.sise.edu.pe:8181/AzManWebServices/DirectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NetSqlAzMan.Cache" />
  <xs:import schemaLocation="http://logindemo.sise.edu.pe:8181/AzManWebServices/DirectService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://logindemo.sise.edu.pe:8181/AzManWebServices/DirectService.svc?xsd=xsd4" namespace="http://NetSqlAzMan/ServiceModel" />
  <xs:element name="DirectTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DirectTestResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="output" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectGetDBUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectGetDBUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NetSqlAzMan.Cache" minOccurs="0" name="DirectGetDBUserResult" nillable="true" type="q1:DBUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectValidatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectValidatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DirectValidatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectCheckAccessForDatabaseUsersWithoutAttributesRetrieve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="store" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="app" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DBuserSSid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="validFor" type="xs:dateTime" />
        <xs:element minOccurs="0" name="operationsOnly" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="contextParameters" nillable="true" type="q2:ArrayOfKeyValuePairOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectCheckAccessForDatabaseUsersWithoutAttributesRetrieveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://NetSqlAzMan/ServiceModel" minOccurs="0" name="DirectCheckAccessForDatabaseUsersWithoutAttributesRetrieveResult" type="q3:AuthorizationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePwd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NetSqlAzMan.Cache" minOccurs="0" name="user" nillable="true" type="q4:DBUser" />
        <xs:element minOccurs="0" name="current" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="renewed" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePwdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePwdResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="statusMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePwdEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NetSqlAzMan.Cache" minOccurs="0" name="user" nillable="true" type="q5:DBUser" />
        <xs:element minOccurs="0" name="current" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="renewed" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePwdExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePwdExResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="statusType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusTrace" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserPasswordResult" type="xs:boolean" />
        <xs:element xmlns:q6="http://NetSqlAzMan/ServiceModel" minOccurs="0" name="azManUser" nillable="true" type="q6:SqlAzManDBUser" />
        <xs:element minOccurs="0" name="statusType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stackTrace" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccessLDAP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LDAPDomain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValidFor" type="xs:dateTime" />
        <xs:element minOccurs="0" name="OperationsOnly" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="contextParameters" nillable="true" type="q7:ArrayOfKeyValuePairOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccessLDAPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAccessLDAPResult" type="xs:boolean" />
        <xs:element xmlns:q8="http://NetSqlAzMan/ServiceModel" minOccurs="0" name="authorization" type="q8:AuthorizationType" />
        <xs:element minOccurs="0" name="statusType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stackTrace" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccessLDAPEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LDAPDomain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValidFor" type="xs:dateTime" />
        <xs:element minOccurs="0" name="OperationsOnly" type="xs:boolean" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="contextParameters" nillable="true" type="q9:ArrayOfKeyValuePairOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccessLDAPExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAccessLDAPExResult" type="xs:boolean" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="attributes" nillable="true" type="q10:ArrayOfKeyValuePairOfstringstring" />
        <xs:element xmlns:q11="http://NetSqlAzMan/ServiceModel" minOccurs="0" name="authorization" type="q11:AuthorizationType" />
        <xs:element minOccurs="0" name="statusType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stackTrace" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>