NetSqlAzMan-ServiceExtensions/AzManLoginServices/AzManLoginWebServicesClient/Web References/LoginSvcRef/LoginService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AzManLoginWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AzManLoginWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://logindemo.sise.edu.pe:8181/AzManLoginWebServices/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LoginInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:LoginStatusEnum" />
      <xs:element minOccurs="0" name="TimeOut" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginInfo" nillable="true" type="tns:LoginInfo" />
  <xs:simpleType name="LoginStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="LoggedIn" />
      <xs:enumeration value="Expired" />
      <xs:enumeration value="LoggedOut" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginStatusEnum" nillable="true" type="tns:LoginStatusEnum" />
</xs:schema>