NetSqlAzMan-ServiceExtensions/AzManServices/AzManWebServicesClient/Web References/DirectSvcRef/DirectService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetSqlAzMan.Cache" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetSqlAzMan.Cache" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DBUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DBUser" nillable="true" type="tns:DBUser" />
</xs:schema>